<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">

                    <h1 class="title">
                        <a href="/">Product Search</a>
                    </h1>
                    <form method="POST" action="" id="desktopForm" class="is-hidden-touch">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-rounded" type="text" placeholder="Shoes" name="searchTerm"
                                    value="{{ search_term }}">
                            </div>
                            <div class="select">
                                <select id="groupedRadio" name="method" value="{{ method }}">
                                    <option value="{{ method }}" selected disabled hidden>
                                        {{ method }}</option>
                                </select>
                            </div>
                            <div class="control">
                                <a class="button is-rounded is-black" onclick="submitDesktopForm()">
                                    Search
                                </a>
                            </div>
                        </div>
                        <div style="text-align: right">
                            <label class="checkbox">
                                <input type="checkbox" name="showImages" value="showImages">
                                show images
                            </label>
                        </div>
                    </form>
                    <form method="POST" action="" id="mobileForm" class="is-hidden-desktop">
                        <div class="select is-fullwidth field">
                            <select id="groupedRadio" name="method" value="{{ method }}">
                                <option value="{{ method }}" selected disabled hidden>
                                    {{ method }}</option>
                            </select>
                        </div>
                        <div class="control is-expanded field">
                            <input class="input" type="text" placeholder="Shoes" name="searchTerm"
                                value="{{ searchTerm }}">
                        </div>
                        <a class="button is-black is-fullwidth field" onclick="submitMobileForm()">
                            Search
                        </a>
                        <div style="text-align: right">
                            <label class="checkbox">
                                <input type="checkbox" name="showImages" value="showImages">
                                show images
                            </label>
                        </div>
                    </form>
                    {% if number_of_results != null %}
                    <br />
                    <h1 class="title is-4">{{ search_term }}</h1>
                    <p class="subtitle is-6">{{ number_of_results }} products found.</p>
                    <br />
                    {% endif %}
                    <div class="columns is-multiline is-mobile">
                        {% for r in result %}
                        <div class="column is-half-desktop is-full-mobile">
                            <div class="card">
                                {% if show_images == "showImages" %}
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="{{ r['Images'][0] }}" alt="{{ r['Product Name'] }}">
                                    </figure>
                                </div>
                                {% endif %}
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="subtitle is-7">{{ r['Product ID'] }}</p>
                                            <p class="title is-4">{{ r['Product Name'] }}</p>
                                            <p class="subtitle is-6">{{ r['Brand'] }}</p>
                                            <strong class="title is-4">₹&nbsp;{{ r['Sale Price']}}</strong>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {{ r['Description'] }}
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <span>
                                            <a href="{{ r['URL'] }}" target="_blank">Buy Now</a>
                                        </span>
                                    </p>
                                </footer>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </section>
</body>
<script type="text/javascript">
    submitDesktopForm = function () {
        document.forms["desktopForm"].submit();
    }
    submitMobileForm = function () {
        document.forms["mobileForm"].submit();
    }
</script>
<script>
    "use strict";

    const methods = {
        "string": "String Matching",
        "semantic": "Semantic Search"
    }

    const groupedRadio = $("select#groupedRadio")
    // <option value="{{ method }}" selected disabled hidden>{{ method }}</option>
    groupedRadio.append($('<option/>', {
        'selected': '',
        'disabled': '',
        'hidden': '',
        'value': '{{ method }}',
        'text': methods['{{ method }}']
    }));

    for (var key in methods) {
        groupedRadio.append($('<option/>', {
            'value': key,
            'text': methods[key]
        }));
    }
</script>

</html>